<%= simple_form_for(form) do |f| %>
  <%= f.input :name, required: true, placeholder: true %>
  <%= f.input :url, required: true, placeholder: true  %>
  <div class="form-group form-actions">
    <%= f.submit t(params[:action]), { :class => "btn btn-primary btn-user btn-block" } %>
  </div><!--/form-group-->
<% end %>